.navbar-brand{
    margin-left: 300px;
    font-family: 'Jost';
   
}
a.product{
    color :#f0e6e6;
}
.mr-2{
    margin-top: 30px;
}
.addbtn{
    margin-top: 30px;
}
.home{
    margin-top: 30px;
    margin-left: 20px;
}